<div ng-controller='match-cont'>
    <div class="message">
        <div class="message-header has-text-centered">Matching</div>
        <div class="message-body has-background-white">
            <div class="is-fullwidth columns is-multiline">
                <div class="column is-full">
                    <div class="message">
                        <div class="message-header" id='at-head'>Available Topics</div>
                        <div class="message-body has-text-centered">
                            <!-- <div class="searchField">
                                <input type="text" class="input" ng-change='doSearch()' placeholder='Enter a topic, and then select from the list of suggestions or click "Add New"' ng-model='searchTerm'>
                            </div> -->
                            <md-content class='md-padding'>
                                <form>
                                    <div id="addTopicLabel" class='is-fullwidth has-text-left'>Add a topic</div>
                                    <md-autocomplete md-selected-item="selectedTopic" md-search-text="topicToAdd"
                                        md-items="topic in filterMe(topicToAdd)" md-no-cache='true'
                                        md-item-text="topic.display" md-min-length="0" placeholder="Ex. JavaScript"
                                        input-aria-labelledby="addTopicLabel" md-mode='standard'>
                                        <md-item-template>
                                            <span md-highlight-text="topicToAdd"
                                                md-highlight-flags="^i">{{topic.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No topics matching "{{topicToAdd}}" were found.
                                            <a ng-click='toggleNewTopicDia()'>Create a new topic!</a>
                                            <!-- <a ng-click="ctrl.newState(topicToAdd)">Create a new one!</a> -->
                                        </md-not-found>
                                </form>
                                </md-autocomplete>
                            </md-content>
                            <div class="is-fullwidth has-text-left" ng-if='selectedTopic.desc'>
                                <strong>Description:</strong><br>{{selectedTopic.desc||''}}</div>
                            <hr>
                            <button class="button is-wide-btn is-link"
                                ng-disabled='addTopicBtn()!="Click to add your selected topic!"'
                                title='{{addTopicBtn()}}' ng-click='addSearchTopic(selectedTopic)'><i
                                    class="fa fa-plus"></i>&nbsp; Add
                                Topic</button>
                        </div>
                    </div>
                </div>
                <div class="column is-full">
                    <div class="message">
                        <div class="message-header">Your Selected Topics</div>
                        <div class="message-body">
                            <div class="is-fullwidth is-italic" ng-show='!pickedTopics.length'>No topics selected! Pick
                                some topics above or create your own!</div>
                            <div class="is-fullwidth columns is-multiline" ng-show='pickedTopics.length'>
 
                                <div class="column is-one-tenth notification is-dark btn-pad-right" ng-repeat='t in pickedTopics'
                                    title='{{t.desc}}'>
                                    <div class="is-fullwidth">
                                        <strong>Topic</strong>:&nbsp;{{t.display}}
                                    </div>
                                    <div class="is-fullwidth">&nbsp;</div>
                                    <div class="is-fullwidth">
                                        Min Level: <select ng-model='t.min' ng-options='m.num as m.lbl for m in lvls' ng-change='changeTopList()'></select>
                                    </div>
                                    <div class="is-fullwidth">&nbsp;</div>
                                    <div class="is-fullwidth has-text-centered">
                                        <button ng-click='removeTopic(t)' class="button is-light"><i class="fa fa-times-circle"></i> Remove</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full" ng-show='pickedTopics.length'>
                <div class="message">
                    <div class="message-header">Available Mentors</div>
                    <div class="message-body">
                        <div class="is-fullwidth is-italic" ng-show='!availTeachs.length'>We couldn't find any
                            teachers that fit your criteria! Try removing some topics to get more results.</div>
                        <div class="is-fullwidth" ng-show='availTeachs.length'>

                            <div class="is-italic is-fullwidth has-tex">Click a mentor to connect with them!</div>
                            <hr>
                            <div class="columns is-fullwidth is-multiline">

                                <div class="column is-one-third message" ng-repeat='mt in availTeachs'>
                                    <div class="message-body has-background-info blocky is-fullwidth">
                                        <div class="columns is-fullwidth is-multiline">
                                            <div
                                                class="column is-full has-text-centered has-text-weight-bold has-text-white is-size-4">
                                                {{mt.displayName||mt.user}}
                                            </div>
                                            <div class="column is-two-fifths">
                                                <img src='{{mt.avatar}}' class="is-fullwidth">
                                            </div>
                                            <div class="column is-three-fifths is-size-7 has-background-white">
                                                <div class="columns is-multiline">
                                                    <div
                                                        class="column is-two-fifth has-text-weight-bold has-bottom-border">
                                                        <i class="fa fa-briefcase"></i>&nbsp;Company:
                                                    </div>
                                                    <div class="column is-three-fifths has-bottom-border">
                                                        {{mt.company||'(None)'}}
                                                    </div>
                                                    <div class="column is-full has-text-weight-bold has-text-centered">
                                                        <i class="fa fa-cogs"></i>&nbsp;Skills:
                                                    </div>
                                                    <div class="column is-full has-bottom-border"
                                                        ng-if='mt.interests.length'>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Skill</th>
                                                                    <th>Experience (1-10)</th>
                                                                    <th>Teaching?</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat='sk in mt.interests'>
                                                                    <td>{{sk.title}}</td>
                                                                    <td>{{sk.lvl}}</td>
                                                                    <td ng-if='sk.canTeach'><i
                                                                            class="fa fa-check has-text-success"></i>
                                                                    </td>
                                                                    <td ng-if='!sk.canTeach'><i
                                                                            class="fa fa-times has-text-danger"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="column is-full has-bottom-border"
                                                        ng-if='!mt.interests.length'>
                                                        {{mt.displayName||mt.user}} has not included any skills!
                                                    </div>
                                                    <div class="column is-full has-text-centered">
                                                        <button class="button is-link" ng-click='doConnect(mt)'><i
                                                                class="fa fa-handshake-o"></i>&nbsp;Connect!</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </img>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" ng-class='{"is-active":newTopic.show}'>
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="panel">
            <div class="panel-heading is-link">
                Create New Topic
                <button class="button is-danger is-small is-pulled-right" ng-click='toggleNewTopicDia()'>x</button>
            </div>
            <div class="panel-block has-background-white blocky content">
                <div class="is-italic">Your desired topic not included? Why not add it here?</div>
                <div class="notification">
                    First, give us a name for your topic. Examples:
                    <br>
                    <ul>
                        <li>ReactJS</li>
                        <li>Front-End Design</li>
                        <li>Social Networking</li>
                    </ul>
                    <br>
                    <input type="text" class="input" ng-model='newTopic.title' placeholder='Your Topic'>
                </div>
                <br>
                <div class="notification">
                    You can also give us a description for your topic if you want (it's optional!).
                    <textarea ng-model='newTopic.desc' class='textarea'></textarea>
                </div>
                <div class="is-fullwidth has-text-centered">
                    <button class="button is-link" ng-click='addNewTopic()'>Add it!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" ng-class='{"is-active":mentCon.show==true}'>
    <div class="modal-background" ng-click='mentCon.show=false'></div>
    <div class="modal-content modal-wide">
        <div class="panel">
            <div class="panel-heading is-link">
                Connect With Mentor
                <button class="button is-danger is-small is-pulled-right" ng-click='mentCon.show=false'>x</button>
            </div>
            <div class="panel-block has-background-white blocky content">
                <div class="is-italic">Ready to connect? Just fill out the information below</div>
                <div class="is-fullwidth">
                    <!-- name -->
                    <br>
                    <div class="is-fullwidth columns has-background-grey-dark">
                        <div class="column is-one-fifth notification">Name:</div>
                        <div class="column is-four-fifths has-text-white">
                            <div class="is-italic is-fullwidth">Here's who you're connecting with: </div>
                            <div class="notification has-background-white has-text-grey-darker is-fullwidth">
                                {{mentCon.user}}
                            </div>
                        </div>
                    </div>
                    <div class="is-fullwidth">&nbsp;</div>
                    <!-- topics -->
                    <div class="is-fullwidth columns has-background-grey-dark">
                        <div class="column is-one-fifth notification">Topics:</div>
                        <div class="column is-four-fifths has-text-white">
                            <div class="is-italic is-fullwidth">Here's a list of the topics you wanna learn from
                                this mentor:</div>
                            <div class="notification has-background-white has-text-grey-darker is-fullwidth">
                                <ul class='check-list'>
                                    <li ng-repeat='t in mentCon.topics'><i class="fa fa-check"></i> &nbsp;{{t}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="is-fullwidth">&nbsp;</div>
                    <!-- Time Zone -->
                    <div class="is-fullwidth columns has-background-grey-dark">
                        <div class="column is-one-fifth notification">Best Times:</div>
                        <div class="column is-four-fifths has-text-white">
                            <div class="is-fullwidth is-italic">What times work best for you?</div>
                            <div class="notification has-background-white has-text-grey-darker is-fullwidth">
                                <div class="is-fullwidth">
                                    <div class="has-text-weight-bold">From:</div>
                                    <div class="select">
                                        <select ng-model='mentCon.tz.from'
                                            ng-options='t.num as t.label for t in times'></select>
                                    </div>
                                </div>
                                <div class="is-fullwidth">
                                    <div class="has-text-weight-bold">To:</div>
                                    <div class="select">
                                        <select ng-model='mentCon.tz.to'
                                            ng-options='t.num as t.label for t in times'></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="is-fullwidth">&nbsp;</div>
                    <!-- Custom Messij -->
                    <div class="is-fullwidth columns has-background-grey-dark">
                        <div class="column is-one-fifth notification">Additional Message:</div>
                        <div class="column is-four-fifths has-text-white">
                            <div class="is-fullwidth is-italic">
                                Anything else you wanna say? We'd recommend "Hi" for starters!
                            </div>
                            <!-- <div class="notification has-background-white has-text-greis-fullwidth"></div> -->
                            <textarea ng-model='mentCon.plusMdMsg' placeholder='Say something friendly!'
                                class="textarea is-fullwidth"></textarea>
                        </div>
                    </div>
                    <div class="is-fullwidth">&nbsp;</div>
                    <div class="column is-full has-text-centered">
                        <button class="button is-link" ng-click='sendConnectMsg()'>Connect!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>